.banner {
  position: relative;
  padding-top: 11.4375rem;
  padding-bottom: 11.4375rem;
}
.banner .fondo,
.banner .capa {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.banner .capa {
  background: radial-gradient(
    837.78% 378.29% at 69.44% -79.86%,
    rgba(31, 35, 39, 0) 0%,
    #191c1f 47.89%,
    rgba(31, 35, 39, 0) 100%
  );
}

.banner .capa2 {
  background: radial-gradient(
    570.42% 265.28% at 47.92% 0%,
    #191c1f 0%,
    rgba(25, 28, 31, 0) 88.96%,
    rgba(25, 28, 31, 0.04) 100%
  );
}

.banner .content {
  position: relative;
}



.banner h1 {
  margin-bottom: 0.625rem;
  width: min(100%, 46.625rem);
}
.banner .text2 {
  margin-bottom: 1.875rem;
  width: min(100%, 46.625rem);
}
