.botton {
  width: min(100%,18.25rem);
  height: 3.75rem;
  border-radius: 2.5rem;
  border: 0;
  padding: 1.25rem;
  background-color: #e11b19;
  color: white;

  font-family: Barlow;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.botton .icono{
    width: 0.370625rem;
    height: auto;
}
