.text1.center{
    text-align: center;
    margin-bottom: 0.3125rem;
}
.text2.center{
    text-align: center;
    margin-inline: 11.5625rem;
    margin-bottom: 1.875rem;
    
}
.text6.center{
    text-align: center;
    margin-inline: 8.75;
    margin-bottom: 0.625rem;
}

