.container{
    width: min(100% , 71.25rem);
    padding: 0 0.9375rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
.container .item{
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    

}


.container.contentImg{
    display: flex;
    justify-content: space-between;
}
.container.seccion-3-colm{
    display: flex;
    justify-content: space-between;
}
.container.move{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 
