@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Bold.ttf);
  font-weight: 700;
}
