.margin_botton {
  margin-bottom: 0.3125rem;
}
.margin_botton2 {
  margin: 0;
  margin-bottom: 1.6875rem;
}

.margin_right {
  margin-right: 1.0625rem;
}
.margin {
  margin-right: 0.9375rem;
}

.banner .text1 {
  margin-bottom: 0.3125rem;
}

