p{
    margin-top: 0;
    margin-bottom: 0;
}
.text1 {
  font-family: Barlow;
  color: rgba(255, 255, 255, 1);
  font-size:1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.text2 {
  font-family: Barlow;
  color:rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.text3{
    font-family: Barlow;
    color:rgba(255, 255, 255, 1);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    
    
}
.text4{
  font-family: Barlow;
  color:rgba(255, 255, 255, 1);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  
}
 
 .text5{
  font-family: Barlow;
  color:rgba(255, 255, 255, 1);
  font-size:1.125rem;
  line-height: 1.5625rem;
  font-weight: 400;
 }

.text6{
  font-family: Barlow;
  color:rgba(255, 255, 255, 1);
  font-size: 4rem;
  line-height: 4.6875rem;
  font-weight: 700;
  margin: 0;
}